
html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    min-height: 100vh; 
}

body { 
    background-image: radial-gradient(circle at 16% 83%, rgba(148, 148, 148,0.06) 0%, rgba(148, 148, 148,0.06) 50%,rgba(63, 63, 63,0.06) 50%, rgba(63, 63, 63,0.06) 100%),
    radial-gradient(circle at 68% 87%, rgba(66, 66, 66,0.06) 0%, rgba(66, 66, 66,0.06) 50%,rgba(105, 105, 105,0.06) 50%, rgba(105, 105, 105,0.06) 100%),
    radial-gradient(circle at 38% 50%, rgba(123, 123, 123,0.06) 0%, rgba(123, 123, 123,0.06) 50%,rgba(172, 172, 172,0.06) 50%, rgba(172, 172, 172,0.06) 100%),
    linear-gradient(90deg, hsl(18,0%,1%),hsl(18,0%,1%));
}
.navbar, .navbar a{
    color: white;
}
.nav-link {
    margin-left: 10px;
}
#startButton, #stopButton { 
    margin: 5px 5px 0 5px;
    padding: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer; 
    border-radius: 50%;
    transition: opacity 1s, visibility 1s;
} 
#startButton { 
    color: white; 
} 
#stopButton { 
    color: white; 
    display: none; 
}

.header { 
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    width: 100%; 
    top: 0; left: 0; right: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-button {
    width: 35px;
    height: 35px;
    background-color: transparent; 
    border: none; 
    padding: 0; 
    margin: 0; 
}
.icon-button img {
    width: 100%;
    height: 100%;
    display: block;
}
.settings, .help {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 20px; 
    padding: 10px; 
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    background: rgba(51, 51, 51, 0.9);
    backdrop-filter: blur(10px);
    width: 80%;
    height: 100%;
    z-index: 10;
}
.settings.active, .help.active {
    transform: translate(-50%, -50%) scale(1);
}
.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 50px;
    font-weight: bold;
    position: absolute; 
    top: -10px; 
    right: 20px;
    color: white;
}
#help hr, #settings hr {
    border: 1px solid #000000;

}
.close-button:hover {
    color: red;
}
.settings-body, .help-body {
    padding: 10px 15px;
    color: #1c1d1d; 
}
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;  
    transition: 200ms ease-in-out;
}
#overlay.active {
    pointer-events: all;
    opacity: 1;
}
.popup-header {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    width: 100%; 
    top: 0; left: 0; right: 0;
    display: flex;
    justify-content: space-between;
}
.popup-body {
    text-align: left;
}
.chat-container { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 40%; 
    margin: 20px auto; 
    border-radius: 20px; 
    padding: 10px; 
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
} 
.chat-box { 
    flex: 1; 
    height: 600px; 
    overflow-y: scroll; 
    padding: 20px; 
    border-bottom: 1px solid #ccc; 
    padding-top: 85px;
} 
.chat-box::-webkit-scrollbar { 
    height: 5px; 
    width: 7px;
}

.chat-box::-webkit-scrollbar-track { 
    background: transparent; 
}

.chat-box::-webkit-scrollbar-thumb { 
    background: rgba(0, 0, 0); 
    border-radius: 6px; 
}

.chat-box::-webkit-scrollbar-thumb:hover { 
    background: rgba(0, 0, 0, 0.4); 
} 
#prompt {
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    margin-top: 10px;
}
.chat-message { 
    margin: 10px 0;
    padding: 15px;
    border-radius: 18px;
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
} 
.chat-message.user { 
    background-color: #ffffff7c; 
    align-self: flex-end; 
    text-align: right;
    margin-left: auto;
}
.chat-message.server { 
    background-color: rgba(199, 225, 255, 0.253); 
    align-self: flex-start; 
   
} 
.chat-input { 
    display: flex; 
    padding: 10px; 
} 
.chat-input input { 
    flex: 1; 
    padding: 10px; 
    font-size: 16px; 
} 
.chat-input button { 
    padding: 10px 20px; 
    font-size: 16px; 
    margin-left: 10px; 
}
.mic-and-indicator {
    position: relative;
    display: inline-block;
    margin: 5px;
}
.recording-indicator {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.bar {
    display: block;
    width: 10px;
    height: 30px;
    background-color: #ffffff96;
    margin: 0 5px;
    border-radius: 5px;
    animation: bounce 1.5s infinite;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.bar:nth-child(2) {
    animation-delay: 0.2s;
}

.bar:nth-child(3) {
    animation-delay: 0.4s;
}
#outputText { 
    display: none; 
}