html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    min-height: 100vh; 
}

body { 
    background-image: url(../img/steal-purple.png);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0; 
           
}
.alert {
    width: 300px; 
    height: 50px; 
    margin: 10px auto; 
    opacity: 0; 
    transform: translateX(100%); 
    animation: slideIn 0.5s forwards; 
    
    
}

@keyframes slideIn {
    to {
        transform: translateX(0); 
        opacity: 1; 
    }
}
.preformatted {
    white-space: pre-wrap; 
}
.navbar, .navbar a{
    color: white;
}
.navbar img {
    margin-top: -15px;
    width: 10%;
    height: 100px;
}
.nav-link {
    margin-left: 40px;
    margin-top: 25px;
    font-size: 18px;
}
#startButton, #stopButton { 
    margin: 15px 10px 5px 5px;
    padding: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer; 
    border-radius: 50%;
    transition: opacity 1s, visibility 1s;
} 
#startButton { 
    color: white; 
} 
#stopButton { 
    color: white; 
    display: none; 
}

.header { 
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    width: 100%; 
    top: 0; left: 0; right: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.icon-button {
    width: 35px;
    height: 35px;
    background-color: transparent; 
    border: none; 
    padding: 0; 
    margin: 0; 
}
.icon-button img {
    width: 100%;
    height: 100%;
    display: block;
    
}
.send-button {
    position: relative;
    
}
.settings, .help {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 20px; 
    padding: 0; 
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    background: rgba(83, 83, 83, 0.5);
    backdrop-filter: blur(10px);
    z-index: 10;
}
.help {
    width: 80%;
    height: 70%;
}
.settings {
    width: 50%;
    height: 20%;

}
.settings.active, .help.active {
    transform: translate(-50%, -50%) scale(1);
}
.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 50px;
    font-weight: bold;
    position: absolute; 
    top: -10px; 
    right: 20px;
    color: white;
}
#help hr, #settings hr {
    border: 1px solid #000000;
}
.close-button:hover {
    color: red;
}
.settings-body, .help-body {
    padding: 10px 15px;
    color: #ffffff; 
}
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;  
    transition: 200ms ease-in-out;
}
#overlay.active {
    pointer-events: all;
    opacity: 1;
}
.popup-header {
    padding: 20px;
    font-size: 24px;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;

}
.popup-body {
    padding: 10px 15px;
    text-align: left;
    
}
.popup-body button {
    text-align: right;
    margin-right: 10px;
    height: 40px;
    margin-top: 8px;
}
.popup-body p {
    margin-left: 10px;
    font-size: 25px;
    margin-top: 5px;
}
.popup-body h3 {
    margin-left: 10px;
}

#body-settings {
    display: flex;
    justify-content: space-between;
}
.confirmation-dialog {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: 200ms ease-in-out;
    border-radius: 20px; 
    padding: 10px; 
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    background: rgba(83, 83, 83, 0.7);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
.confirmation-dialog p {
    margin-bottom: 20px;
}
.confirmation-dialog button {
    margin-right: 10px;
}
#confirmYes, #confirmNo, #okBtn { 
    margin: 5px 5px 0 5px;
    padding: 5px;
    cursor: pointer; 
    border-radius: 5px;
    background: transparent;
    border: 1px solid white;
    color: white;

    &:hover {
        background-color: rgb(150, 150, 150);
    }
}
.chat-container { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 40%; 
    margin: 20px auto; 
    border-radius: 20px; 
    padding: 10px; 
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
} 
.chat-box { 
    flex: 1; 
    height: 600px; 
    overflow-y: scroll; 
    padding: 20px; 
    border-bottom: 1px solid #ccc; 
    padding-top: 85px;
    display: flex;
    flex-direction: column;
} 
.chat-box::-webkit-scrollbar { 
    height: 5px; 
    width: 7px;
}

.chat-box::-webkit-scrollbar-track { 
    background: transparent; 
}

.chat-box::-webkit-scrollbar-thumb { 
    background: rgba(0, 0, 0); 
    border-radius: 6px; 
}

.chat-box::-webkit-scrollbar-thumb:hover { 
    background: rgba(0, 0, 0, 0.4); 
} 
#prompt {
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    margin-top: 10px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    box-sizing: border-box;
    resize: none; 
}
.counter {
    color: white;
    text-align: left;
    margin-top: 5px;
    font-size: 14px;
}

.warning {
    color: #ff3333; 
}

.error {
    color: #ff0000; 
}
#prompt::-webkit-scrollbar { 
    height: 5px; 
    width: 7px;
}

#prompt::-webkit-scrollbar-track { 
    background: transparent; 
}

#prompt::-webkit-scrollbar-thumb { 
    background: rgba(0, 0, 0); 
    border-radius: 6px; 
}
.chat-message { 
    margin: 10px 0;
    padding: 15px;
    border-radius: 18px;
    color: white;
    font-size: 17px;
    display: inline-flex;
    flex-direction: column;
    word-wrap: break-word;
    width: auto;
    max-width: 60%;
} 
.chat-message.user { 
    background-color: #ffffff7c; 
    align-self: flex-end; 
    align-items: right;
    margin-left: auto;
}
.chat-message.server { 
    background-color: rgba(199, 225, 255, 0.253); 
    align-self: flex-start; 
   
} 
.chat-input { 
    display: flex; 
    padding: 10px; 
} 
.chat-input input { 
    flex: 1; 
    padding: 10px; 
    font-size: 16px; 
} 
.chat-input button { 
    padding: 10px 20px; 
    font-size: 16px; 
    margin-left: 10px; 
}
.mic-and-indicator {
    position: relative;
    display: inline-block;
    margin: 5px;
}
.recording-indicator {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.bar {
    display: block;
    width: 10px;
    height: 30px;
    background-color: #ffffff96;
    margin: 0 5px;
    border-radius: 5px;
    animation: bounce 1.5s infinite;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.bar:nth-child(2) {
    animation-delay: 0.2s;
}

.bar:nth-child(3) {
    animation-delay: 0.4s;
}
#outputText { 
    display: none; 
}

/* this is all for the email stuff */
.button-container button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 4px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    height: 45px; 
    margin-top: 10px;
}

.button-container button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
#body-field  {
    background: transparent;
    color: white;
    width: 500px;
    height: 200px;
    border-bottom: 1px solid white;
    border-left: none;
    border-right: none;
    border-top: none;
}
#subject-field {
    background: transparent;
    color: white;
    width: 435px;
    border: none;
    
}
#to-field {
    background: transparent;
    color: white;
    width: 473px;
    border: none;
}
.wrapper {
    border-bottom: 1px solid white;
}

.disabled-button {
    background-color: #d3d3d3; /* Light gray color */
    color: #a9a9a9; /* Darker gray text color */
    cursor: not-allowed;
    border: 1px solid #a9a9a9;
    opacity: 0.6;
    pointer-events: none; /* Prevent clicks */
}
