html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    min-height: 100vh; 
}

body {
    background-image: url(../img/steal-purple.png);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0; 
}
h1, h2, .navbar a, p{
    color: white;
}
.card-details a {
    color: white;
    text-decoration: underline;
}
.navbar {
    margin-bottom: 20px;
}
.navbar img {
    margin-top: -15px;
    width: 10%;
    height: 100px;
}
.nav-link {
    margin-left: 40px;
    margin-top: 25px;
    font-size: 18px;
}
.section-header {
    border-bottom: 1px solid white;
}
.header { 
    background-color: #000000;
    color: white;
    padding: 20px;
    font-size: 24px;
    position: absolute;
    width: 100%; 
    top: 0; left: 0; right: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
} 
.icon-button {
    width: 35px;
    height: 35px;
    background-color: transparent; 
    border: none; 
    padding: 0; 
    margin: 0; 
}
.icon-button img {
    width: 100%;
    height: 100%;
    display: block;
}
.help {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 20px; 
    padding: 10px; 
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    background: rgba(51, 51, 51, 0.9);
    backdrop-filter: blur(10px);
    width: 80%;
    height: 60%;
    z-index: 10;
    overflow-y: scroll;
}
.help::-webkit-scrollbar{
    height: 1px;
    width: 5px;
}

.help::-webkit-scrollbar-track{
    background: transparent;
}

.help::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.616);
    border-radius: 6px;
}

.help::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.514);
}
#help hr {
    border: 1px solid #000000;

}
.help.active {
    transform: translate(-50%, -50%) scale(1);
}

.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 50px;
    font-weight: bold;
    position: absolute; 
    top: -10px; 
    right: 20px;
    color: white;
}
.close-button:hover {
    color: red;
}
.help-body {
    padding: 10px 15px;
    color: #1c1d1d;
    margin-top: 20px;
}
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;  
    transition: 200ms ease-in-out;
}
#overlay.active {
    pointer-events: all;
    opacity: 1;
}
.popup-header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    width: 100%; 
    top: 0; left: 0; right: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup-body {
    text-align: left;
    margin-top: 10%;
    margin-left: 10px;
}
.container {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 1200px;
    margin: 20px auto; 
    border-radius: 20px; 
    padding-left: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding-top: 5%;
}
.section {
    margin-bottom: 30px;
    
}
.section h2 {
    margin-bottom: 15px;
}
#meetings-section, #saved-section {
    margin-top: 30px;
}
.card-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 20px;
}
.card {
    flex: 0 0 auto !important;
    border-radius: 15px !important;
    width: 250px !important;
    height: 200px !important;
    background-color: rgba(199, 225, 255, 0.253) !important;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5) !important;
    margin-right: 20px !important;
    transition: transform 0.2s !important;
    overflow-y: scroll !important;
    color: white;
}
.card::-webkit-scrollbar {
    height: 1px;
    width: 5px;
}

.card::-webkit-scrollbar-track{
    background: transparent;
}

.card::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.616);
    border-radius: 6px;
}

.card::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.514);
}
.card:hover {
    transform: scale(1.05);
}
.card-title {
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
    
}
.card-details {
    padding: 0 10px;
    font-size: 1em;
   
}
.card-container::-webkit-scrollbar{
    height: 5px;
}

.card-container::-webkit-scrollbar-track{
    background: transparent;
}

.card-container::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0);
    border-radius: 6px;
}

.card-container::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

.footer {
    text-align: center;
    padding: 10px;
    background: #f8f9fa;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.alert {
    margin-bottom: 0;
}