html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.gradient-bg {
    background-image: radial-gradient(circle at 16% 83%, rgba(148, 148, 148,0.06) 0%, rgba(148, 148, 148,0.06) 50%,rgba(63, 63, 63,0.06) 50%, rgba(63, 63, 63,0.06) 100%),
                      radial-gradient(circle at 68% 87%, rgba(66, 66, 66,0.06) 0%, rgba(66, 66, 66,0.06) 50%,rgba(105, 105, 105,0.06) 50%, rgba(105, 105, 105,0.06) 100%),
                      radial-gradient(circle at 38% 50%, rgba(123, 123, 123,0.06) 0%, rgba(123, 123, 123,0.06) 50%,rgba(172, 172, 172,0.06) 50%, rgba(172, 172, 172,0.06) 100%),
                      linear-gradient(90deg, hsl(18,0%,1%),hsl(18,0%,1%));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh; 
    position: relative;
}

.off-white-bg {
    background-image: radial-gradient(circle at 16% 83%, rgba(107, 107, 107, 0.068) 0%, rgba(148, 148, 148,0.06) 50%,rgba(110, 110, 110, 0.089) 50%, rgba(177, 177, 177, 0.06) 100%),
    radial-gradient(circle at 68% 87%, rgba(189, 189, 189, 0.06) 0%, rgba(66, 66, 66, 0.09) 50%,rgba(105, 105, 105, 0.11) 50%, rgba(100, 100, 100, 0.06) 100%),
    radial-gradient(circle at 38% 50%, rgba(123, 123, 123,0.06) 0%, rgba(123, 123, 123,0.06) 50%,rgba(172, 172, 172,0.06) 50%, rgba(160, 160, 160, 0.06) 100%),
    linear-gradient(90deg, hsl(0, 0%, 100%),hsl(0, 0%, 100%));
    min-height: 50vh; 
    padding: 20px; 
}
.gradient-bg h1, .gradient-bg h2, .gradient-bg p, .navbar a{
    color: white;
}

.off-white-bg h2, .off-white-bg  p {
    color: black;
}
h1, h2, p, .navbar a, footer {
    font-family: "Work Sans", sans-serif;
}

.content  {
    min-height: 100vh;
    justify-content: center;
    align-items:center;
    text-align: center;
    position: relative;
}

.navbar h1 {
    font-size: 50px;
    
}

.btn {
    pointer-events: auto;
    width: 140px;
    height: 40px;
}
#intro-container h1{
    font-size: 120px;
    
}
#intro-container p{
    font-size: 20px;
    
}
#second-title h1 {
    font-size: 80px;
    margin: 5% 0;
}
#intro-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-20%);
}
#arrow {
    position: absolute;
    bottom: 50px;

}
#info-container h1 {
    font-size: 50px;
}
#info-container h2 {
    font-size: 45px;
}
#info-container p {
    font-size: 20px;
}
#info-container {
    height: 40vh;
    display: flex;
    /*transform: translateY(-50%);*/
    justify-content: center;;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: auto;
    gap: 5%;
} 


#intro-container.hidden {
    opacity: 0;
    transition: all 2s;
 }
 #intro-container.show {
    opacity: 1;
 }
 #info-container.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
 }
#second-title.hidden {
    opacity: 0;
    transition: all 2s;
}
#second-title.show {
    opacity: 1;
}
 #info-container.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
 }
 .descr {
    transition: all 2s;
    opacity: 0;
    transform: translateX(100%);
    height: 90%;
}

.descr.show {
    opacity: 1;
    transform: translateX(0);
}
 .descr:nth-child(2) {
    transition-delay: 200ms;
 }
 .descr:nth-child(3) {
    transition-delay: 400ms;
 } 
.color-container {
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    border: 1px solid black;
    width: 300px;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    backdrop-filter: blur(10px);
}
.img-container img {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.img-container {
    border-radius: 50%;
    background-color: hsl(0, 0%, 17%);
    width: 35%;
    padding: 10px;
    align-items: center;
}
body hr {
    border: 0.5px solid white;
    margin: 20px 0;
}
.footer-nav {
    background-color: #e6e6e6; 
    padding: 20px;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    border-top: 1px solid rgb(190, 190, 190);
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-nav ul li {
    display: inline;
}
.footer-nav footer {
    margin-top: 20px;
    font-size: 15px;

}
.footer-nav hr {
    border: 0; 
    height: 1px; 
    background-color: rgb(190, 190, 190);
    margin: 15px 0;
}


