html {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background-image: radial-gradient(circle at 16% 83%, rgba(148, 148, 148,0.06) 0%, rgba(148, 148, 148,0.06) 50%,rgba(63, 63, 63,0.06) 50%, rgba(63, 63, 63,0.06) 100%),radial-gradient(circle at 68% 87%, rgba(66, 66, 66,0.06) 0%, rgba(66, 66, 66,0.06) 50%,rgba(105, 105, 105,0.06) 50%, rgba(105, 105, 105,0.06) 100%),radial-gradient(circle at 38% 50%, rgba(123, 123, 123,0.06) 0%, rgba(123, 123, 123,0.06) 50%,rgba(172, 172, 172,0.06) 50%, rgba(172, 172, 172,0.06) 100%),linear-gradient(90deg, hsl(18,0%,1%),hsl(18,0%,1%));
}
h1, h2, p {
    color: white;
}
h1 {
    font-size: 50px;
    padding: 10px;

}
.form-control {
    background: transparent;
    border: none;
    border-radius: 0;
    color: white;
    margin-top: 20px;
}
.form-control:focus {
    background: transparent;
    box-shadow: none;
    color: white;
}
.form-control::placeholder {
    color: white;
    opacity: 0.7;
}
img {
    width: 40px;
    height: 40px;
}
.label {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin: 30px 0 50px 0;
}
.label:has(.form-control:focus) {
    border-bottom: 2px solid white;
    transition: all 0.5s;
}
.label .icon {
    height: 40px;
    
}

#login-form {
    min-height: 40%;
    width: 18%;
    padding: 30px;
    border-radius: 5px;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.btn-secondary {
    background: transparent;
    border: none;
}

.btn-secondary:hover {
    color: rgb(61, 104, 221); 
    background: transparent;
    
}
