<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/planet-tab.png" type="image/png">
    <link rel="icon" href="../static/img/Asset%204.png" type="image/png">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css">
    <script src="../static/js/flash.js"></script>
    <script src="../static/js/dashboard.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <nav class="navbar navbar-expand-lg ">
        <img src = "../static/img/AssetNew.png">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('chat') }}">Chat</a>
                </li>
            </ul>
            <form class="form-inline">
                {% if session.get('user_id') %}
                    <a href="{{ url_for('logout') }}" class="btn btn-outline-light">Logout</a>
                {% endif %}
            </form>
        </div>
    </nav>
    <div class="container">
        <div class = "header">
            <h1><b>Dashboard</b></h1>
            <div class="icons">
                <button data-setting-target="#help" class="icon-button">
                    <img src="{{url_for('static', filename='img/Help circle.png')}}" alt="Help" class="icon">
                </button>
                <div class="popup help" id="help">
                    <div class="popup-header">
                        <span><h2><b>Help</b></h2></span>
                        <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="popup-body">
                        <h3><b>Upcoming Events</b></h3>
                        <p>Displays your upcoming events with detailed information including the event title, date, description, time, and a link to view the event in your calendar.</p>
                        <hr>
                        <h3><b>Upcoming Meetings</b></h3>
                        <p>Lists your scheduled meetings, providing details such as the meeting summary, date, description, time, and a link to view the meeting in your calendar.</p>
                        <hr>
                        <h3><b>Saved Drafts</b></h3>
                        <p>Shows your saved email drafts, including the subject, recipient, a preview of the email body, and a link to view the draft in Gmail.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="overlay"></div>
        <div class="section" id = "events-section">
            <div class = "section-header"><h2><b>Upcoming Events</b></h2></div>
            <div class="card-container">
                {% if events %}
                    {% for event in events %}
                    <div class="card">
                        <div class="card-title"><b>{{ event.title }}</b></div>
                        <div class="card-details date">Date: {{ event.start }}</div>
                        <div class="card-details">Description: {{ event.description }}</div>
                        <div class="card-details time">Time: {{ event.start }}</div>
                        <div class="card-details"><a href="{{ event.link }}" target="_blank">View event in Calendar</a></div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No upcoming events at the moment...</p>
                {% endif %}
            </div>
        </div>
        <div class="section" id = "meetings-section">
            <div class = "section-header"><h2><b>Upcoming Meetings</b></h2></div>
            <div class="card-container">
                {% if meets %}
                    {% for meet in meets %}
                    <div class="card">
                        <div class="card-title">{{ meet.summary }}</div>
                        <div class="card-details date">Date: {{ meet.start }}</div>
                        <div class="card-details">Description: {{ meet.description }}</div>
                        <div class="card-details time">Time: {{ meet.start }}</div>
                        <div class="card-details"><a href="{{ meet.link }}" target="_blank">View meet in Calendar</a></div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No upcoming meetings at the moment...</p>
                {% endif %}
            </div>
        </div>
        <div class="section" id = "saved-section">
            <div class = "section-header"><h2><b>Saved Drafts</b></h2></div>
            <div class="card-container">
                {% if emails %}
                    {% for email in emails %}
                    <div class="card">

                        <div class="card-title"><b>{{ email.subject}}</b></div>
                        <div class="card-details">To: {{ email.to }}</div>
                        <div class="card-details">Body: {{ email.body[:20] }}...</div>
                        <div class="card-details"><a href="{{ email.link }}" target="_blank">View draft in Gmail</a></div>

                    </div>
                    {% endfor %}
                {% else %}
                    <p>No saved drafts at the moment...</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
