<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/Asset%204.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css')}}">
    <script src="../static/js/home.js" defer></script>
    <script src="../static/js/flash.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <div class="bg" id = "home">
            <div class="star-field">
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
            </div>
            <nav class="navbar navbar-expand-lg black">
                <img src = "../static/img/Asset 4.png">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('chat') }}">Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="hidden" id="intro-container">
                <h1>Welcome to <img src = "../static/img/AssetNew.png"></h1>
                <p>Leveraging the power of Google's API, effortlessly create events, send emails, and schedule</p>
                <p>meetings with stellar efficiency. Blast off into the vastness of space with </p>
                <p>the cutting edge capabilities with Plan-it.</p>
                <a href="{{url_for('login')}}" class="btn btn-primary btn-lg text-center ">
                    Get started
                </a>
                <a href="#info-container"><img src="../static/img/Arrow down.png" alt="arrow-down" id = "arrow"></a>
            </div>
        
            <div class = "hidden" id = "second-title">
                <h1>What We Offer</h1>
            </div>
            <div class="hidden" id="info-container">
                <div class="descr hidden">
                    <div class = 'color-container'>
                        <div class = 'img-container'>
                            <div class = 'inner-container'>
                                <img src="../static/img/cal.png" alt="calendar">
                            </div>
                        </div>
                        <h2>Event Creation</h2>
                        <p>Create and manage events with ease, syncing seamlessly with your Google Calendar.</p>
                    </div>
                </div>
                <div class="descr hidden">
                    <div class = 'color-container'>
                        <div class = 'img-container'>
                            <img src="../static/img/Mail.png" alt="email">
                        </div>
                        <h2>Email Integration</h2>
                        <p>Send emails directly from Plan-it, integrated with your Gmail account for a unified experience.</p>
                    </div>
                </div>
                <div class="descr hidden">
                    <div class = 'color-container'>
                        <div class = 'img-container'>
                            <img src="../static/img/Users.png" alt="meeting">
                        </div>
                        <h2>Meeting Scheduler</h2>
                        <p>Schedule and manage meetings efficiently, with automatic Google Meet link generation.</p>
                    </div>
                </div>
        </div>
    </div>
       
    </div>
    <div class="footer-nav">
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="https://github.com/minhajsf/Plan-it" target="_blank">GitHub</a></li>
            </ul>
        </nav>
        <hr>
        <footer>Plan-it @ 2024. All rights reserved.</footer>
    </div>
</body>

</html>