<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/planet-tab.png" type="image/png">
    <title>Register Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <script src="../static/js/flash.js"></script>
</head>
<body>
{% block content %}
    <nav class="navbar navbar-expand-lg black">
        <img src = "../static/img/AssetNew.png">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
            </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" style = "background: rgba(255, 255, 255, 0.1); color: white; border: none; height: 75px;">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container mt-5">
        <div id="register-form" class="form-section">
            <h2>Register</h2>
            <form method="POST" class="mb-3">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        <div class="label">
                            <img src="{{ url_for('static', filename='img/User.png') }}" alt="User" class="icon">
                            {% if form.full_name.errors %}
                                {{ form.full_name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.full_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.full_name(class="form-control form-control-lg", placeholder="Full Name") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class = "label"> 
                            <img src = "{{url_for('static', filename='img/User.png')}}" alt = "User" class = "icon">
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors%}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
                            {% endif %}        
                        </div>
                    </div>
                    <div class="form-group">
                        <div class = "label">
                            <img src = "{{url_for('static', filename='img/Key.png')}}" alt = "User" class = "icon">
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors%}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class = "label">
                            <img src = "{{url_for('static', filename='img/Key.png')}}" alt = "User" class = "icon">
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors%}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirm Password") }}
                            {% endif %}
                        </div>
                    </div>
                </fieldset>
                <div class="button-container">
                    <a href="{{ url_for('login') }}" class="btn btn-secondary" id = "show-login">Already registered? Login here</a>
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>


{% endblock %}

</body>
</html>