<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
    <script src="../static/js/flash.js"></script>
</head>
<body>
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container mt-5">
        <div id="register-form" class="form-section">
            <h1>Flick Found</h1>
            <form method="POST" class="mb-3">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        <p>Email:</p>
                        <div class = "label">
                            <img src="{{ url_for('static', filename='img/User.png') }}" width="50" height="50"> 
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors%}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}        
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Password:</p>
                        <div class = "label">
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors%}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Confirm Password:</p>
                        <div class = "label">
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors%}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </fieldset>
                <div class="button-container">
                    <a href="{{ url_for('login') }}" class="btn btn-secondary" id = "show-login">Already registered? Login here</a>
                    {{ form.submit(class="btn-btn-primary") }}
                </div>
            </form>
        </div>
    </div>


{% endblock %}

</body>
</html>